<div id="container" class="container-fluid no-gutters h-100">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 my-auto">
            <form [formGroup]="loginForm" class="border p-4 rounded">
                <div class="from-group">
                    <label for="">Usuario</label>
                    <input formControlName="user" type="text" class="form-control">
                    <div *ngIf="lfc.user.errors?.required && submitted">
                        <b class="text-danger">Este campo es Obligatorio</b>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control">
                    <div *ngIf="lfc.password.errors?.required && submitted">
                        <b class="text-danger">Este campo es Obligatorio</b>
                    </div>
                </div>
                <div>
                    <b class="text-danger"> 
                        {{error}}
                    </b> 
                </div> 
                <div class="w-100 d-flex justify-content-end">
                  
                  <button class="btn btn-primary d-flex" (click)="submit()">
                    <div #spinner style="display:none">
                      <i class="fas fa-spinner fa-pulse"></i>
                    </div>
                    
                    Ingresar
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>