<div class="container p-2">
  <div class="row mt-3 d-flex justify-content-center">
      <div class="image border p-2">
        <img src="/assets/account.png" width="200"/>
      </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="info border rounded p-2 mt-2">
        <div class="nombre border">
          <h3>{{user.nombre}}</h3>
        </div>
        <div class="cedula border d-flex justify-content-between pl-3 pr-3">
          <p>Cedula: </p> <p>{{user.cedula}}</p>
        </div>
        <div class="celular border d-flex justify-content-between pl-3 pr-3">
          <p>Celular: </p> <p>{{user.celular}}</p>
        </div>
        <div class="direccion border d-flex justify-content-between pl-3 pr-3">
          <p>Dirección: </p> <p>{{user.direccion}}</p>
        </div>
        <div class="email border d-flex justify-content-between pl-3 pr-3">
          <p>Email: </p> <p>{{user.email}}</p>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-between mt-2">
        <button [routerLink]="['/dashboard/update/', cedula]" class="btn btn-warning pl-3 pr-3">Editar</button>
        <button class="btn btn-danger pl-3 pr-3" (click)="delete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
