@import '../../../styles.scss';

.info{

  h6,h5,h4,h3,h2,h1,p{
    color:black;
    text-align:center;
  }
  p{
    font-size: 1.1em;
  }
  .nombre{
    font-family: 'OpenSans-Bold';
  }
  
  .cedula,.celular,.direccion,.email{
    font-family: 'OpenSans-SemiBold';
  }
}