<table class="table table-striped">
    <thead class="bg-danger text-white">
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Celular</th>
        <th>Direccion</th>
        <th>Email</th>
        <th>Ver</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.cedula}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.celular}}</td>
            <td>{{user.direccion}}</td>
            <td>{{user.email}}</td>
            <td>
              <button [routerLink]="['/dashboard/profile/', user.cedula]" class="btn btn-primary"><i class="fas fa-eye"></i></button>
            </td>
        </tr>
    </tbody>
</table>