<nav id="navbar" class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" [routerLink]="['/dashboard']"><b>Prueba</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex" id="navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" [routerLink]="['/dashboard']">Usuarios <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/dashboard/create']">Crear usuario</a>
      <a class="nav-item nav-link" href="/assets/hojadevida.pdf" target="_blank">Sobre mi</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="logout()">Cerrar sesion</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
