<div class="container">
	<div class="row d-flex justify-content-center mt-4 no-gutters">
		<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
			<div class="w-100 d-flex justify-content-center bg-dark text-white">
				<h2>Crear Usuario</h2>
			</div>
		</div>
	</div>

	<div class="row d-flex justify-content-center no-gutters">
		<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mb-3">
			<form [formGroup]="createForm" class="p-3 pt-0 border">
				<div class="form-group">
					<label>Nombre</label>
					<input type="text" class="form-control" formControlName="nombre" />
				</div>
				<div class="form-group">
					<label>Cedula</label>
					<input type="text" class="form-control" formControlName="cedula" />
					<div *ngIf="cfc.cedula.errors?.required && submitted">
						<b class="text-danger">Este campo es obligatorio</b>
					</div>
				</div>
				<div class="form-group">
					<label>Celular</label>
					<input type="text" class="form-control" formControlName="celular" />
				</div>
				<div class="form-group">
					<label>Direccion</label>
					<input type="text" class="form-control" formControlName="direccion" />
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" formControlName="email" />
					<div *ngIf="cfc.email.errors?.email && submitted">
						<b class="text-danger">Este email es invalido</b>
					</div>
				</div>
				<div class="w-100 d-flex justify-content-end">
					<button class="btn btn-success" (click)="submit()">Crear Usuario</button>
				</div>
			</form>
		</div>
	</div>
</div>