@font-face{
  font-family: 'OpenSans-Bold';
  src: url('/assets/OpenSans/OpenSans-Bold.ttf');
}

@font-face{
  font-family: 'OpenSans-SemiBold';
  src: url('/assets/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face{
  font-family: 'OpenSans-Regular';
  src: url('/assets/OpenSans/OpenSans-Regular.ttf');
}

html,body{
  width: 100%;
  height:100%;
  font-family: 'OpenSans-Regular';
}